<p id="notice"><%= notice %></p>


<h3>Review</h3>
<% @soap.reviews.each do |review| %>
  <div class="well">
  <p><strong><%= review.title %></strong>: <%= review.description %>
  <%= link_to '[x]', [review.soap, review],
           method: :delete,
           data: { confirm:'Are you sure?'} %></p>
  </div>
<% end %>

<hr>
<h3>Add Review</h3>
<%= form_for([@soap, @soap.reviews.build]) do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field(:title,{:class => 'form-control'}) %>
</p>
 <p>
  <%= f.label :description %><br>
  <%= f.text_area(:description,{:class => 'form-control'}) %>
</p>
 <p>
  <%= f.submit({:class => 'btn btn-default'}) %>
</p>
<% end %>

<hr>
<%= link_to 'Edit', edit_soap_path(@soap), :class => 'btn btn-default' %> |
<%= link_to 'Back', directors_soaps_path, :class => 'btn btn-default'%>
<%= link_to 'Review', soap, :class => 'btn btn-default' %>
