<p id="notice"><%= notice %></p>

<h1>Producers</h1><br>
<img src="soaps.jpg" align= "right" width="400px" height="400px" alt="image">
<script>
window.onclick = myFunction;

function myFunction() {
    document.getElementsByTagName("BODY")[0].style.backgroundColor = "#C7EDE4";
}
</script>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><strong><%= director.first_name %></strong></td>

        <td>|<%= director.last_name %> <br> </td>



        <td><%= link_to 'Show', director, :class => 'btn btn-default'  %> |<br></td>
        <td><%= link_to 'Edit', edit_director_path(director),:class => 'btn btn-default'  %> |<br></td>
        <td><%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producer', new_director_path, :class => 'btn btn-default'  %>
