<h1>New Director</h1>



<%= link_to 'Back', directors_path %>

<%= form_for :director, url: directors_path do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>

  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
