<h1>New Producer</h1>
<script>
window.onclick = myFunction;

function myFunction() {
    document.getElementsByTagName("BODY")[0].style.backgroundColor = "#C7EDE4";
}
</script>


<%= link_to 'Back', directors_path %>

<%= form_for :director, url: directors_path do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>

  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
